@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
/*font-family: 'Playfair Display', serif;*/
html {
  font-size: 10px;
  color: white;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background-color: black;
  cursor: url("../Assets/cursor-mini.png"), auto;
}

a:hover {
  cursor: url("../Assets/cursor-mini.png"), auto;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  animation: fade 2.5s ease;
}

#container-header {
  position: absolute;
  width: 100%;
  top: 45%;
  animation: fade 2.5s ease-in;
}

header {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: auto;
}
header #wrapper-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
header #wrapper-header h1 {
  z-index: 2;
  font-size: 9rem;
  font-family: "Libre Baskerville", serif;
  color: #fff;
  margin: 0;
  animation: translate-down-to-up 2s;
}
header #wrapper-header h3 {
  z-index: 2;
  letter-spacing: 0.6rem;
  font-size: 2rem;
  text-align: center;
  animation: translate-up-to-down 3s;
}

#container-nav {
  position: absolute;
  top: 15%;
  left: 3%;
  overflow: hidden;
  background-color: black;
  transition: box-shadow 1s;
}
#container-nav:hover {
  box-shadow: 20rem 0rem 5rem -10rem #30548a inset;
}

#wrapper-nav {
  display: flex;
  flex-direction: column;
  border-left: 0.2rem solid white;
  padding: 2rem;
  overflow: hidden;
}
#wrapper-nav a {
  z-index: 2;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  border-bottom: solid 0.1rem white;
  text-align: left;
  width: 20%;
  transition: 0.6s ease-in;
  margin-bottom: 1rem;
  animation: translate-left-to-right 2.5s;
}
#wrapper-nav a:hover {
  color: #EBC116;
  width: 100%;
}

#container-reseaux {
  position: absolute;
  bottom: 15%;
  right: 3%;
  overflow: hidden;
  background-color: black;
  transition: box-shadow 1s;
}
#container-reseaux:hover {
  box-shadow: -20rem 0rem 5rem -10rem #30548a inset;
}

#wrapper-reseaux {
  display: flex;
  flex-direction: column;
  border-right: 0.2rem solid white;
  padding: 2rem;
  overflow: hidden;
}
#wrapper-reseaux a {
  z-index: 2;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  border-bottom: solid 0.1rem white;
  width: 20%;
  transition: 0.6s ease-in;
  margin-bottom: 1rem;
  animation: translate-right-to-left 2.5s;
}
#wrapper-reseaux a:hover {
  color: #EBC116;
  width: 100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: relative;
  border: 4px solid #fff;
  animation: loader 3s infinite ease;
}
.loader-wrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 3s infinite ease-in;
}

#cursor {
  height: 4rem;
  width: 4rem;
  background: #a31717;
  border-radius: 50%;
  position: absolute;
  display: none;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

div:hover ~ #cursor {
  transform: scale(0.5);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    transform: translateY(-10rem);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-radius: 2rem;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
    border-radius: 2rem;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate-left-to-right {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-right-to-left {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-down-to-up {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes translate-up-to-down {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/*# sourceMappingURL=accueil.css.map */
