@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
/*font-family: 'Playfair Display', serif;*/
html {
  font-size: 10px;
  color: black;
  cursor: url("../Assets/cursor-mini.png"), auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background-color: #141414;
  overflow: hidden;
}

a:hover {
  cursor: url("../Assets/cursor-mini.png"), auto;
}

#cursor {
  height: 4rem;
  width: 4rem;
  background: #a31717;
  border-radius: 50%;
  position: absolute;
  display: none;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

div:hover ~ #cursor {
  transform: scale(0.5);
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

.blocHorizontal {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

#container-slides {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  /*pour mozilla et ie*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 1.7rem;
}

::-webkit-scrollbar-thumb {
  background: #d1b33b;
}

.one {
  background-color: #d1b33b;
}

.two {
  background-color: #30548a;
}

.three {
  background-color: #6d3434;
}

.four {
  background-color: #D5D5D5;
}

#container-nav {
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 3%;
  overflow: hidden;
  transition: box-shadow 1s;
  /*&:hover{
    box-shadow: 20rem 0rem 5rem -10rem $blanc inset; 
  }*/
}

#wrapper-nav {
  display: flex;
  flex-direction: column;
  border-left: 0.2rem solid #141414;
  padding: 2rem;
  overflow: hidden;
}
#wrapper-nav a {
  z-index: 2;
  color: #141414;
  font-size: 2.5rem;
  text-decoration: none;
  border-bottom: solid 0.1rem #141414;
  text-align: left;
  width: 20%;
  transition: 0.6s ease-in;
  margin-bottom: 1rem;
  animation: translate-left-to-right 2.5s;
}
#wrapper-nav a:hover {
  color: white;
  width: 100%;
}

.container-slide {
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
.container-slide .container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  overflow: hidden;
}
.container-slide .container-text h2 {
  font-size: 6rem;
  margin-bottom: 15vh;
  animation: translate-right-to-left 3s ease;
}
.container-slide .container-text .middle {
  position: absolute;
  top: 55%;
  left: 25vw;
  transform: translateX(-50%);
  z-index: 1;
}
.container-slide .container-text .mouse {
  width: 6rem;
  height: 10rem;
  border: 0.4rem solid #333;
  border-radius: 6rem;
}
.container-slide .container-text .mouse::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background: #333;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}
.container-slide h3 {
  font-size: 2.5rem;
  text-align: justify;
  margin-right: 2.5rem;
  padding-bottom: 1rem;
  animation: translate-down-to-up 2s ease;
}
.container-slide .card {
  height: 80vh;
  width: 50vw;
  background-color: #141414;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(http://cinema-athena.fr/wp-content/uploads/2021/03/frequentation-salles-cinema-cesse-daugmenter-atteint-20112156-millions-dentrees_0_1399_933-1024x683.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fade 2.5s;
}
.container-slide .card::before {
  content: "01 - Charles-Adrien Vlamynck";
  position: absolute;
  font-size: 6rem;
  top: -6%;
  color: rebeccapurple;
  background: linear-gradient(#141414 60%, #d1b33b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-slide .card a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 15rem;
  width: 15rem;
  right: -5%;
  bottom: -5%;
  font-size: 3rem;
  border-radius: 50%;
  background-color: #D5D5D5;
  color: #000;
  position: absolute;
  transition: 0.8s ease;
}
.container-slide .card a:hover {
  background-color: #141414;
  color: #D5D5D5;
}
.container-slide .card h2 {
  margin: 0;
  font-size: 10rem;
  color: #fff;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  animation: 5s ease fade;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3f2424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: relative;
  border: 4px solid #fff;
  animation: loader 3s infinite ease;
}
.loader-wrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 3s infinite ease-in;
}

/*Animation*/
@keyframes mouse {
  from {
    opacity: 1;
    top: 1rem;
  }
  to {
    opacity: 0;
    top: 8rem;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    transform: translateY(10rem);
    border-radius: 3rem;
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-radius: 0rem;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate-left-to-right {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-right-to-left {
  0% {
    transform: translateX(60rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-down-to-up {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes translate-up-to-down {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/*# sourceMappingURL=projets.css.map */
