@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/*font-family: 'Playfair Display', serif;*/
$jaune:#EBC116;

html{
    font-size: 10px;
    color:white;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-color: black;
    cursor: url("../Assets/cursor-mini.png"),auto;    
}
canvas{
    width: 100vw;
    height: 100vh;
    display: block;
    animation: fade 2.5s ease;
}
#container-header{
    position: absolute;
	  width: 100%;
    top: 40%;
    animation: fade 2.5s ease-in;
}
header{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 20vh;
        #wrapper-header{
            display: flex;
            flex-direction:column;
            align-items:center;
            overflow: hidden;
            h1{
                font-size: 9rem;
                font-family: 'Libre Baskerville', serif;
                color: #fff;
                margin:0;
                animation: translate-down-to-up 2s;
            }
            h3{
              letter-spacing:0.6rem;
              font-size:2rem;
              text-align:center;
              animation: translate-up-to-down 2.5s;
            }
        }
}

#container-nav{
  position:absolute;
  top:5%;
  left:3%;
}
  #wrapper-nav{
    display:flex;
    flex-direction:column;
    border:0.2rem solid white;
    padding:2rem;
    overflow: hidden;
    a{
      color:white;
      font-size:2rem;
      text-decoration:none;
      border-bottom:solid 0.1rem white;
      text-align:left;
      width:20%;
      transition:0.6s ease-in;
      margin-bottom:1rem;
      animation: translate-left-to-right 1.5s;
      &:hover{
        color:$jaune;
        width:100%;
      }
    }
  }



  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  
    .loader {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      position: relative;
      border: 4px solid #Fff;
      animation: loader 3s infinite ease;
    
      .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        animation: loader-inner 3s infinite ease-in;
      }
    }
  }

  @keyframes loader {
    0% { transform: rotate(0deg); transform: translateY(-10rem);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg); border-radius: 2rem;}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%; border-radius: 2rem}
  }
  @keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes translate-left-to-right{
    0%{transform: translateX(-10rem);}
    100% {transform: translateX(0);}
  }
  @keyframes translate-down-to-up{
    0%{transform: translateY(10rem);}
    100% {transform: translateY(0rem);}
  }
  @keyframes translate-up-to-down{
    0%{transform: translateY(-10rem);}
    100% {transform: translateY(0rem);}
  }