@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/*font-family: 'Playfair Display', serif;*/
$jaune:#d1b33b;
$bleu:#30548a;
$rouge:#6d3434;
$blanc:#D5D5D5;
$noir:#141414;


html{
    font-size: 10px;
    color:black;
    cursor: url("../Assets/cursor-mini.png"),auto;    
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: $jaune;
  overflow: hidden;
}
a:hover,#icon:hover{
  cursor: url("../Assets/cursor-mini.png"),auto;    
}

#cursor{
    height:4rem;
    width:4rem;
    background:#a31717;
    border-radius:50%;
    position:absolute;
    display:none;
    transition:0.3s;
    transition-timing-function: ease-out;
  }
  div:hover ~ #cursor{
    transform:scale(0.5);
  }

  .slide{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    position: relative;
  }

  .blocHorizontal{
    display: flex;
    flex-direction: row;
    width: 660vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  #container-slides{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;


    /*pour mozilla et ie*/
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
::-webkit-scrollbar{
  width: 1.5rem;
}
::-webkit-scrollbar-thumb{
  background: $noir;
}


  .one{
    background-color: $jaune;
  }
  .two{
    background-color: $bleu;
    width: 230vw;
  }
  .three {
    background-color: $rouge;
    width: 130vw;
  }
  .four{
    background-color: $blanc;
  }
  .five{
    background-color: $noir;
    color: $blanc;
  }

  #container-nav{
    z-index: 1;
    position:absolute;
    top:10%;
    left:3%;
    overflow:hidden;
    transition: box-shadow 1s;
  }
    #wrapper-nav{
      display:flex;
      flex-direction:column;
      border-left:0.2rem solid $noir;
      padding:2rem;
      overflow: hidden;
      a{
        z-index:2;
        color:$noir;
        font-size:2.5rem;
        text-decoration:none;
        border-bottom:solid 0.1rem $noir;
        text-align:left;
        width:20%;
        transition:0.6s ease-in;
        margin-bottom:1rem;
        animation: translate-left-to-right 2.5s;
        &:hover{
          color:white;
          width:100%;
        }
      }
    }

    /*Premiere slide*/
    .container-slide{
      align-items: flex-end;
      justify-content: center;
      display: flex;
      .container-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        overflow: hidden;
        position: relative;
        h2{
          font-size: 6rem;
          margin-bottom: 15vh;
          animation: translate-right-to-left 3s ease;
        }
        .middle{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index:1;
        }
        .mouse{
          width: 6rem;
          height: 10rem;
          border: 0.4rem solid #333;
          border-radius: 6rem;
          &::before{
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            background: #333;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            opacity: 1;
            animation: mouse 2s infinite;
          }
        }
      }
      h3{
        font-size: 2.5rem;
        text-align: justify;
        margin-right: 2.5rem;
        padding-bottom: 1rem;
        animation: translate-down-to-up 2s ease;
      }
      .card{
        height: 80vh;
        width: 50vw;
        background-color: $noir;
        display: flex;
        align-items: flex-end;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url(http://cinema-athena.fr/wp-content/uploads/2021/03/frequentation-salles-cinema-cesse-daugmenter-atteint-20112156-millions-dentrees_0_1399_933-1024x683.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        animation: fade 2.5s;
        &::before{
          content: '01 - Charles-Adrien Vlamynck';
          position: absolute;
          font-size: 6rem;
          top: -6%;
          background: linear-gradient( $noir 60%, #ebc119 60%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
          a{
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            height: 15rem;
            width: 15rem;
            right: -5%;
            bottom: -5%;
            font-size: 3rem;
            border-radius: 50%;
            background-color: $blanc;
            color: #000;
            position: absolute;
            transition: 0.8s ease; 
            &:hover{
              background-color: $noir;
              color: $blanc;
              height: 16rem;
              width: 16rem;
            }
          }
        h2{
          margin: 0;
          font-size: 10rem;
          color: #fff;
          transform-origin: bottom left;
          transform: rotate(-90deg)translateY(100%);
          animation: 5s ease fade;
        }
      }
    }
    /*Fin première slide*/
    /*Deuxième slide*/

    .container-slide-two{
      align-items: flex-end;
      justify-content: center;
      display: flex;
      
      .background-1{
        height: 70vh;
        width: 55vw;
        margin-right: 10vw;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/4595636/pexels-photo-4595636.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;
        position: relative;
        &::before{
          content: '02.1 - Faites vivre vos projets';
          position: absolute;
          font-size: 9rem;
          width: 113%;
          top: 40%;
          left: -5%;
          background: linear-gradient( $jaune 60%, $blanc 60%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
        &:hover{
          filter: grayscale(100%);
          transform: scale(0.98);
        }
      }
      #container-background-2{
        display: flex;
        flex-direction: column;        
      }
      .background-2{
        height: 75vh;
        width: 60vw;
        margin-right: 5vw;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)),url(https://images.pexels.com/photos/7909364/pexels-photo-7909364.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;
        position: relative;
        &::before{
          content: '02.2 - Une équipe entière pour vous';
          position: absolute;
          font-size: 8rem;
          width: 112%;
          bottom: -5%;
          left: -5%;
          background: linear-gradient( #9c3535 60%, $noir 60%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
        &:hover{
          filter: grayscale(100%);
          transform: scale(0.98);
        }
        a{
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-decoration: none;
          height: 15rem;
          width: 15rem;
          left: 50%;
          top: -10%;
          transform: translateX(-50%);
          font-size: 2.2rem;
          border-radius: 50%;
          background-color: $jaune;
          color: #000;
          position: absolute;
          transition: 0.8s ease; 
          &:hover{
            background-color: $noir;
            color: $blanc;
            height: 16rem;
            width: 16rem;
          }
        } 
      }
      .container-text-two{
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15%;
        overflow: hidden;
        position: relative;
        h2{
          font-size: 6rem;
          margin-bottom: 15vh;
        }
        .middle-two{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index:1;
        }
        .mouse-two{
          width: 10rem;
          height: 8rem;
          border: 0.4rem solid #333;
          border-radius: 1rem;
          &::after{
            content: '';
            width: 7rem;
            height: 0.5rem;
            border-radius: 1rem;
            background: #333;
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translateX(-50%);
          }
          &::before{
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            background: #333;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            opacity: 1;
            animation: line 2s infinite;
          }
        }
      }
      h3{
        font-size: 2.5rem;
        text-align: justify;
        margin-right: 2.5rem;
        padding-bottom: 1rem;
      }
      .card-two{
        margin-right: 10vw;
        height: 80vh;
        width: 50vw;
        background-color: $noir;
        display: flex;
        align-items: flex-end;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url(https://images.pexels.com/photos/5314213/pexels-photo-5314213.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &::before{
          content: '02 - Charles-Adrien Vlamynck';
          position: absolute;
          font-size: 6rem;
          top: -6%;
          background: linear-gradient( $noir 60%, #2664c0 60%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
          a{
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            height: 15rem;
            width: 15rem;
            right: -5%;
            bottom: -5%;
            font-size: 2.5rem;
            border-radius: 50%;
            background-color: $noir;
            color: $blanc;
            position: absolute;
            transition: 0.8s ease; 
            &:hover{
              background-color: $blanc;
              color: $noir;
              height: 16rem;
              width: 16rem;
            }
          }
        h2{
          margin: 0;
          font-size: 10rem;
          color: #fff;
          transform-origin: bottom left;
          transform: rotate(-90deg)translateY(100%);
        }
      }
    }

    /*Fin deuxième slide*/

    /*Début troisieme slide*/

    .container-slide-three{
      align-items: flex-end;
      justify-content: center;
      display: flex;
      .avm{
        margin-right: 2vw;
        height: 80vh;
        width: 35vw;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-repeat: no-repeat;
        background-size: cover;    
        color: $blanc;    
        position: relative;
        h3{
          position: absolute;
          top: -10%;
          left: -15%;
          font-size: 6rem;
          width: 120%;
          text-align: center;
          margin: 3rem;
          background: linear-gradient( $noir 50%, $blanc 50%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
        h4{
          position: absolute;
          bottom: 0%;
          margin: 2rem;
          font-size: 5rem;
          &::after{
            content: '';
            display: block;
            width: 10%;
            height: 1rem;
            background-color: $blanc;
            bottom: 0%;
          }
        }
      }
      .container-text-three{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        margin: 0 2rem;
        overflow: hidden;
        position: relative;
        h2{
          font-size: 6rem;
          margin-bottom: 15vh;
        }
        .middle-three{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index:1;
        }
        .mouse-three{
          width: 6rem;
          height: 10rem;
          border: 0.4rem solid #333;
          border-radius: 6rem;
          &::before{
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            background: #333;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            opacity: 1;
            animation: mouse 2s infinite;
          }
        }
      }
      
      h3{
        font-size: 2.5rem;
        text-align: justify;
        margin-right: 2.5rem;
        padding-bottom: 1rem;
      }
      .card-three{
        height: 80vh;
        width: 50vw;
        margin-right: 2rem;
        background-color: $noir;
        display: flex;
        align-items: flex-end;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &::before{
          content: '03 - Robin Pluviaux';
          position: absolute;
          font-size: 6rem;
          top: -6%;
          background: linear-gradient( $noir 60%, #973636 60%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
          a{
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            height: 15rem;
            width: 15rem;
            right: -5%;
            top: -5%;
            font-size: 2.5rem;
            border-radius: 50%;
            background-color: $jaune;
            color: #000;
            position: absolute;
            transition: 0.8s ease; 
            &:hover{
              background-color: $noir;
              color: $blanc;
              height: 16rem;
              width: 16rem;
            }
          }
        h2{
          margin: 0;
          font-size: 6rem;
          color: #fff;
          transform-origin: bottom left;
          transform: rotate(-90deg)translateY(100%);
        }
      }
    }
    /*Fin Troisieme slide*/
    /*Début quatrieme slide*/
    .container-slide-four{
      align-items: flex-end;
      justify-content: center;
      display: flex;
      .container-text-four{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        overflow: hidden;
        position: relative;
        h2{
          font-size: 5.5rem;
          margin-bottom: 15vh;
        }
        .middle-four{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index:1;
        }
        .mouse-four{
          width: 10rem;
          height: 8rem;
          border: 0.4rem solid #333;
          border-radius: 1rem;
          &::after{
            content: '';
            width: 7rem;
            height: 0.5rem;
            border-radius: 1rem;
            background: #333;
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translateX(-50%);
          }
          &::before{
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            background: #333;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            opacity: 1;
            animation: line 2s infinite;
          }
        }
      }
      h3{
        font-size: 2.5rem;
        text-align: justify;
        margin-right: 2.5rem;
        padding-bottom: 1rem;
      }
      .card-four{
        height: 80vh;
        width: 50vw;
        background-color: $noir;
        display: flex;
        align-items: flex-end;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/416405/pexels-photo-416405.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &::before{
          content: '04 - Vous';
          position: absolute;
          font-size: 6rem;
          top: -6%;
          background: linear-gradient( $noir 60%, #fff 60%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
          a{
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            height: 15rem;
            width: 15rem;
            right: -5%;
            bottom: -5%;
            font-size: 3rem;
            border-radius: 50%;
            background-color: $noir;
            color: $blanc;
            position: absolute;
            transition: 0.8s ease; 
            &:hover{
              background-color: $blanc;
              color: $noir;
              height: 16rem;
              width: 16rem;
            }
          }
        h2{
          margin: 0;
          font-size: 6.5rem;
          color: #fff;
          transform-origin: bottom left;
          transform: rotate(-90deg)translateY(100%);
        }
      }
    }
    /*Fin quatrieme slide*/


    .loader-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #3f2424;
      display:flex;
      justify-content: center;
      align-items: center;
    
      .loader {
        display: inline-block;
        width: 3rem;
        height: 3rem;

        position: relative;
        border: 4px solid #fff;
        animation: loader 3s infinite ease;
      
        .loader-inner {
          vertical-align: top;
          display: inline-block;
          width: 100%;
          background-color: #fff;
          animation: loader-inner 3s infinite ease-in;
        }
      }
    }
  #song{
    border-radius: 50%;
    top: 5%;
    right: 3%;
    position: absolute;
  }
  #icon{
    box-shadow: 5px 5px 10px $noir;
    width: 10vh;
    cursor: pointer;
  }
#icon-slide{
  position: absolute;
  bottom:0%;
  left: 1%;
  height: 10vh;
  width: auto;
}

/*Animation*/

    @keyframes mouse{
      0%{opacity: 1;top: 1rem;}
      100%{opacity: 0;top: 8rem;}
    }
    @keyframes line{
      0%{opacity: 1;left: 2rem;}
      100%{opacity: 0;left: 9rem;}
    }
    
    @keyframes loader {
      0% { transform: rotate(0deg); transform: translateY(10rem); border-radius: 3rem;}
      25% { transform: rotate(180deg);}
      50% { transform: rotate(180deg);}
      75% { transform: rotate(360deg);}
      100% { transform: rotate(360deg); border-radius: 0rem}
    }
    @keyframes loader-inner {
      0% { height: 0%;}
      25% { height: 0%;}
      50% { height: 100%;}
      75% { height: 100%;}
      100% { height: 0%;}
    }

    @keyframes fade {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes translate-left-to-right{
      0%{transform: translateX(-20rem);}
      100% {transform: translateX(0);}
    }
    @keyframes translate-right-to-left{
      0%{transform: translateX(60rem);}
      100% {transform: translateX(0);}
    }
    @keyframes translate-down-to-up{
      0%{transform: translateY(20rem);}
      100% {transform: translateY(0rem);}
    }
    @keyframes translate-up-to-down{
      0%{transform: translateY(-10rem);}
      100% {transform: translateY(0rem);}
    }
